### importing data and ignoring warning

In [17]:
import pandas as pd
import warnings
import missingno as msno
warnings.filterwarnings('ignore')
import surprise


df = pd.read_csv(r'C:\Users\rites\Desktop\movie.csv', index_col=0)
amazon_pd = pd.DataFrame(df)

print (df)

                Movie1  Movie2  Movie3  Movie4  Movie5  Movie6  Movie7  \
user_id
A3R5OBKS7OM2IR     5.0     5.0     NaN     NaN     NaN     NaN     NaN
AH3QC2PC1VTGP      NaN     NaN     2.0     NaN     NaN     NaN     NaN
A3LKP6WPMP9UKX     NaN     NaN     NaN     5.0     NaN     NaN     NaN
AVIY68KEPQ5ZD      NaN     NaN     NaN     5.0     NaN     NaN     NaN
A1CV1WROP5KTTW     NaN     NaN     NaN     NaN     5.0     NaN     NaN
...                ...     ...     ...     ...     ...     ...     ...
A1IMQ9WMFYKWH5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
A1KLIKPUF5E88I     NaN     NaN     NaN     NaN     NaN     NaN     NaN
A5HG6WFZLO10D      NaN     NaN     NaN     NaN     NaN     NaN     NaN
A3UU690TWXCG1X     NaN     NaN     NaN     NaN     NaN     NaN     NaN
AI4J762YI6S06      NaN     NaN     NaN     NaN     NaN     NaN     NaN

                Movie8  Movie9  Movie10  ...  Movie197  Movie198  Movie199  \
user_id                                  ...
A3R5OBKS7OM2IR     NaN     NaN      NaN  ...       NaN       NaN       NaN
AH3QC2PC1VTGP      NaN     NaN      NaN  ...       NaN       NaN       NaN
A3LKP6WPMP9UKX     NaN     NaN      NaN  ...       NaN       NaN       NaN
AVIY68KEPQ5ZD      NaN     NaN      NaN  ...       NaN       NaN       NaN
A1CV1WROP5KTTW     NaN     NaN      NaN  ...       NaN       NaN       NaN
...                ...     ...      ...  ...       ...       ...       ...
A1IMQ9WMFYKWH5     NaN     NaN      NaN  ...       NaN       NaN       NaN
A1KLIKPUF5E88I     NaN     NaN      NaN  ...       NaN       NaN       NaN
A5HG6WFZLO10D      NaN     NaN      NaN  ...       NaN       NaN       NaN
A3UU690TWXCG1X     NaN     NaN      NaN  ...       NaN       NaN       NaN
AI4J762YI6S06      NaN     NaN      NaN  ...       NaN       NaN       NaN

                Movie200  Movie201  Movie202  Movie203  Movie204  Movie205  \
user_id
A3R5OBKS7OM2IR       NaN       NaN       NaN       NaN       NaN       NaN
AH3QC2PC1VTGP        NaN       NaN       NaN       NaN       NaN       NaN
A3LKP6WPMP9UKX       NaN       NaN       NaN       NaN       NaN       NaN
AVIY68KEPQ5ZD        NaN       NaN       NaN       NaN       NaN       NaN
A1CV1WROP5KTTW       NaN       NaN       NaN       NaN       NaN       NaN
...                  ...       ...       ...       ...       ...       ...
A1IMQ9WMFYKWH5       NaN       NaN       NaN       NaN       NaN       NaN
A1KLIKPUF5E88I       NaN       NaN       NaN       NaN       NaN       NaN
A5HG6WFZLO10D        NaN       NaN       NaN       NaN       NaN       NaN
A3UU690TWXCG1X       NaN       NaN       NaN       NaN       NaN       NaN
AI4J762YI6S06        NaN       NaN       NaN       NaN       NaN       NaN

                Movie206
user_id
A3R5OBKS7OM2IR       NaN
AH3QC2PC1VTGP        NaN
A3LKP6WPMP9UKX       NaN
AVIY68KEPQ5ZD        NaN
A1CV1WROP5KTTW       NaN
...                  ...
A1IMQ9WMFYKWH5       5.0
A1KLIKPUF5E88I       5.0
A5HG6WFZLO10D        5.0
A3UU690TWXCG1X       5.0
AI4J762YI6S06        5.0

[4848 rows x 206 columns]

### Find the  movies have maximum views/ratings

In [18]:
df.describe().T['count'].sort_values(ascending=False)[:1].to_frame()

           count
Movie127  2313.0

###  the average rating for each movie

In [19]:
meanofmovies =  df.mean()
print(meanofmovies)

Movie1      5.000000
Movie2      5.000000
Movie3      2.000000
Movie4      5.000000
Movie5      4.103448
              ...
Movie202    4.333333
Movie203    3.000000
Movie204    4.375000
Movie205    4.628571
Movie206    4.923077
Length: 206, dtype: float64

### the top 5 movies with the maximum ratings.

In [20]:
df.describe().T['count'].sort_values(ascending=False)[:5].to_frame()

           count
Movie127  2313.0
Movie140   578.0
Movie16    320.0
Movie103   272.0
Movie29    243.0

### the top 5 movies with the least audience.

In [21]:
df.describe().T['count'].sort_values(ascending=True)[:5].to_frame()

          count
Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0

## Recommendation Model

In [22]:
melt_df=amazon_pd.melt(id_vars= df.columns[0],value_vars=df.columns[1:],var_name='Movie',value_name='rating')
melt_df
melt_df.shape
melt_filtered = melt_df.fillna(0)
melt_filtered.shape

(993840, 3)

### importing modules

In [23]:
from surprise import Reader
from surprise import Dataset
from surprise import SVD
from surprise.model_selection import train_test_split

In [24]:
reader = Reader(rating_scale=(-1,10))


data = Dataset.load_from_df(melt_df.fillna(0), reader=reader)

###  spliting the data into trainging and testing data

In [25]:
trainset, testset = train_test_split(data, test_size=0.25)

In [26]:
algo = SVD()

### trainging data

In [27]:
algo.fit(trainset)
predict= algo.test(testset)
from surprise.model_selection import cross_validate

In [28]:
cross_validate(algo,data,measures=['RMSE','MAE'],cv=3,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2884  0.2897  0.2865  0.2882  0.0013
MAE (testset)     0.0530  0.0533  0.0657  0.0573  0.0059
Fit time          57.60   57.83   51.74   55.72   2.82
Test time         5.61    3.78    5.50    4.96    0.84

{'test_rmse': array([0.2884086 , 0.28970391, 0.28650146]),
 'test_mae': array([0.05299543, 0.05331111, 0.06568378]),
 'fit_time': (57.60161852836609, 57.834373235702515, 51.73889517784119),
 'test_time': (5.606424331665039, 3.7812867164611816, 5.496415376663208)}

### test data

In [29]:
user_id='A1CV1WROP5KTTW'
Movie='Movie6'
rating='5'
algo.predict(user_id,Movie,r_ui=rating)
print(cross_validate(algo,data,measures=['RMSE','MAE'],cv=3,verbose=True))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2861  0.2873  0.2930  0.2888  0.0030
MAE (testset)     0.0583  0.0584  0.0740  0.0635  0.0074
Fit time          56.52   52.41   52.92   53.95   1.83
Test time         5.24    5.20    5.07    5.17    0.07
{'test_rmse': array([0.2861241 , 0.28727777, 0.29298239]), 'test_mae': array([0.05826531, 0.05839247, 0.07395605]), 'fit_time': (56.51727843284607, 52.409945011138916, 52.91700601577759), 'test_time': (5.241396903991699, 5.199415683746338, 5.073383092880249)}

In [30]:
user_id='A1CV1WROP5KTTW'
Movie='Movie3'
rating='5'
algo.predict(user_id,Movie,r_ui=rating)
print(cross_validate(algo,data,measures=['RMSE','MAE'],cv=3,verbose=True))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2863  0.2868  0.2886  0.2872  0.0010
MAE (testset)     0.0365  0.0365  0.0389  0.0373  0.0011
Fit time          58.62   61.74   59.78   60.05   1.29
Test time         6.10    5.37    5.11    5.52    0.42
{'test_rmse': array([0.28631197, 0.28684857, 0.28856516]), 'test_mae': array([0.03645654, 0.03649777, 0.03889941]), 'fit_time': (58.62146067619324, 61.73901391029358, 59.78350067138672), 'test_time': (6.10045313835144, 5.365470886230469, 5.105409860610962)}